.tab-header {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#91235f, #b3588a);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.tab-header:hover {
    -fx-background-color: linear-gradient(#b3588a, #91235f);
}